{% extends 'base.html.twig' %}

{% block title %}trt-change-mot-de-passe{% endblock %}

{% block body %}
{% block pagetitle %}
    <h1 class="mt-5 mb-3 font-weight-normal text-center">Changer le mot de passe</h1> 
{% endblock %}
<p class="text-center"> {{app.user.firstname}} vous allez changer votre mot de passe</p>

<div class="container col-5">
{{form(form)}}
</div>

{% endblock %}