{% extends 'base.html.twig' %}

{% block title %}trt-mon-compte{% endblock %}

{% block body %}
{% block pagetitle %}
    <h1 class="mt-5 mb-3 font-weight-normal text-center">Mon compte</h1> 
{% endblock %}
<p class="text-center">Bienvenue {{app.user.firstname}} sur votre compte<br/> ici vous allez pouvoir mettre vos information à jour, consulter les annonce d'emplois</p>

<a href="{{path('app_change_password')}}">-changer mon mot de passe</a><br>
<a href="{{path('app_recruteur')}}">-mettre mes information à jour</a><br>
-deposer une annonce<br>


{% endblock %}