{% extends 'base.html.twig' %}
{% block title %}trt-list-utilisateurs{% endblock %}
{% block body %}
    {% block pagetitle %}<h1 class="mt-5 mb-3 font-weight-normal text-center">Liste des annonces</h1>{% endblock %}
    <div class="row">
        {% for annonce in annonces %}
            <div class="card ms-5 mb-3" style="width: 18rem;">
                <ul class="list-groupe list-group-flush ">
                 <li class="list-group-item ">numéro d'annonce a renseigner: {{ annonce.id }}
                    <h5 class="crad-subtitle list-group-item text-center">{{ annonce.job }}</h5>
                   
                    <li class="list-group-item">
                      salaire proposer net:<br> {{ annonce.salaire }} €
                    </li>                
                </ul>
                <a href="{{path('app_detail_annonce', {'id' :annonce.id})}}" class="btn btn-primary ">Lire l'annonce compléte</a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}