{% extends 'base.html.twig' %}

{% block title %}trt-mon-compte{% endblock %}

{% block body %}
{% block pagetitle %}
    <h1 class="mt-5 mb-3 font-weight-normal text-center">Mon compte</h1> 
{% endblock %}
<p class="text-center">Bienvenue {{app.user.firstname}} de cette page vous allez pouvoir géré vos utilisateurs</p>
<p class="text-center">

<a href="{{path('app_change_password')}}" class="ms-3">-changer mon mot de passe</a>
<a href="{{path('app_list_user')}}" class="ms-3">-Voir tous les utilisateurs</a>
<a class="ms-3">-Voir toutes les annonce</a>
</p>

{% endblock %}
